body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0d1117;
    color: #c9d1d9;
}

.container {
    max-width: 700px;
    margin: 70px auto;
    background: #161b22;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

h1 {
    color: #58a6ff;
}

.subtitle {
    margin-top: 10px;
    color: #8b949e;
    font-size: 18px;
}

button {
    background: #238636;
    border: none;
    padding: 12px 24px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 25px;
}

button:hover {
    background: #2ea043;
}

#status {
    margin-top: 20px;
    color: #8b949e;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  
  
}

.logo {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-buttons {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.nav-buttons li {
    display: flex;
    justify-content: space-around;
}
.nav-buttons button {
  background-color: #3498db;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  align-items: center;
  margin: 0px;
}

.nav-buttons button:hover {
  background-color: #2980b9;
}